.container{
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 14%;
}

.manager-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.manager-profile-logOut-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}